<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "../static/signup-login-style.css">
        <link rel="shortcut icon" href="#">
    </head>
    <body>  
        <div class="border">
            <h2>LOGIN</h2>
            <ul id="flashes" class=flashes>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </ul>
            <form method="POST" action="/login">
                <div class = "txt_field">
                    <input class="input" type="email" name="email" placeholder="Enter email" maxlength="100"/> 
                    <input class="input" type="password" name="password" placeholder="Enter password"/>
                </div>
                <input class = "s_button" type="submit" value="SUBMIT"/>
            </form>
            <br>
            <hr>
            <p>If you have not already signed up, please click the button below to signup.</p>
            <form method="GET" action="/signup">
                <input class = "s_button" type="submit" value="SIGNUP HERE"/>
                <br>
            </form>
        </div>
    </body>
</html>