*{
  margin: 0;
}

#errors {
  color: red;
}

#success {
  color: green;
}

#loginSignupForm {
  background-color: #DFDFDF;
  border-style: solid;
  display: inline-block;
  padding: 1%;
}

#icons {
  transform: scale(1.5);
}

#events {
  background-color: white;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
  width: 70%;
  padding-top: 23px;
  padding-bottom: 58px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

#eventBorder {
  background-color: #E6E6E6;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  padding: 1%;
}

#profile {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  background-color: white;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

#eventDetailsBorder {
  background-color: #E6E6E6;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  padding: 1%;
  width: 60%;
}

#reviewBorder {
  width: 500px;
  background-color: #E6E6E6;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  padding: 1%;
}

#review {
  border-style: solid;
  background: linear-gradient(225deg, #CFB722 25px, #FFEE85 25px);
  overflow-wrap: break-word;
  width: 500px;
}

#eventBorder > center > img:hover {
  border-style: double;
  cursor: pointer;
  border-width: 5px;
}

img {
  width: 90%;
  height: auto;
}

#pageNumberBorder {
  background-color: white;
  border-style: solid;
  padding-right: 10px;
  padding-left: 10px;
}

#decreasePageNumberArrow {
  cursor: pointer;
}

#increasePageNumberArrow {
  cursor: pointer;
}

#firstPageDoubleArrow {
  cursor: pointer;
}

#lastPageDoubleArrow {
  cursor: pointer;
}

#decreasePageNumberArrow:hover {
  color: #3074d4;
}

#increasePageNumberArrow:hover {
  color: #3074d4;
}

#firstPageDoubleArrow:hover {
  color: #3074d4
}

#lastPageDoubleArrow:hover {
  color: #3074d4
}

#search:hover {
  border-style: solid;
  cursor: pointer;
}

.map-container {
  width: 100%;
  height: 50vh;
}