*{
  margin: 0;
}

#loginSignupForm {
  background-color: #DFDFDF;
  border-style: solid;
  display: inline-block;
  padding: 1%;
}

#icons {
  transform: scale(1.5);
}

#pageNumberBorder {
  background-color: white;
  border-style: solid;
  padding-right: 1%;
  padding-left: 1%;
}

#decreasePageNumberArrow {
  cursor: pointer;
}

#increasePageNumberArrow {
  cursor: pointer;
}

#decreasePageNumberArrow:hover {
  color: #3074d4;
}

#increasePageNumberArrow:hover {
  color: #3074d4;
}

#search:hover {
  border-style: solid;
  cursor: pointer;
}

#errors {
  color: red;
}

#eventBorder {
  background-color: #E6E6E6;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  padding: 1%;
}

#events {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

#eventBorder > center > img:hover {
  border-style: double;
  cursor: pointer;
  border-width: 5px;
}