* {
    box-sizing: border-box;
  }
  body {
    background-image: url("bg.jpg");
    background-size: cover;
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: lightgrey;
  }
  .border1 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    position: absolute;
    width: 80%;
    background: white;
    opacity: 0.9;
    box-shadow: 12px 12px 0px 0px #aaaaaa;
    font-family: Georgia, serif;
  }
  .title1 {
    color: #737373;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .pic1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: block;
    width: 500px;
    height: 250px;
  }
  .row1 {
    display: flex;
  }
  
  .column1 {
    flex: 50%;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
  }
  
  .info1 {
    text-align: center;
    font-weight: bold;
  }

  #map {
      height: 400px;
      width: 100%;
  }
  
  .s_buttonHome {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    font-family: Georgia, serif;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 1px;
    cursor: pointer;
    
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174)   0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    border-radius: 10px;
  }

  .s_buttonHome:hover {
    box-shadow: #5f54f6 -2px -2px 0px 2px,
      #246474 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
  }

  .item {
    font-family: Georgia, serif;
    flex-grow: 1;
    background-color: lightgray;
  }

  .item:hover {
    box-shadow: #5f54f6 -2px -2px 0px 2px,
    #246474 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
  }

  .addHover{
    box-shadow: rgb(10, 2, 7) -2px -2px 0px 2px,
      #010202 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
  }
  .addHover:hover {
    box-shadow: #5f54f6  -2px -2px 0px 2px,
    #246474 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
  }

  #search1 {
      margin-right: 20px;
  }

  .nav-link:hover {
    box-shadow: #5f54f6  -2px -2px 0px 2px,
    #246474 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
  }
  .navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.1em;
  }
  .navbar .navbar-nav .nav-link:hover {
  background-color: grey;
  color: black;
  }

  #LinkSpacing {
    margin-left: 20px;
   }