<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <style>
                h2 {
                    padding-top: 0px;
                    margin: 0px;
                }

                #background {
                    width: 100%;
                    height: 100%;
                    padding: 25px;
                    background-color: #CACACA;
                }

                #container {
                    font-family: sans-serif;
                    padding: 25px;
                    background-color: #E9E9E9;
                    max-width: 500px;
                    border-style: solid;
                    border-width: 2px;
                }

                #body-container {
                    text-align: left;
                }
            </style>
        </head>
    <body>
        <div id="background">
            <center>
                <div id="container">
                    <div id="header-container">
                        {% if failed %}
                            <!-- if the attempt has failed -->
                            <h2>Attempt at Account Info Change</h2>
                        {% else %}
                            <!-- if the attempt was successful -->
                            <h2>Account Info Change</h2>
                        {% endif %}
                    </div>
                    <div id="body-container">
                        <hr></hr>
                        <h3>Hello, <u>{{ username }}</u>!</h3>
                        {% if failed %}
                            <!-- if the attempt has failed -->
                            <h3>Someone (hopefully you) has attempted to change the information on your account.</h3>
                            <h3>If this was not you, you should immediately take steps into securing your account.</h3>
                            <h3>Althought the attempt has failed, you should still secure your account. Read more below.</h3>
                        {% else %}
                            <!-- if the attempt was successful -->
                            <h3>Someone (hopefully you) has successfully changed the information on your account.</h3>
                            <h3>If this was you, you safety ignore this email.</h3>
                            <h3>However, if this was not you, you should immediately take steps into securing your account.</h3>
                        {% endif %}
                        <h3>Here for some basic first steps...</h3>
                        <ul>
                            <li>Update your password</li>
                            <ul>
                                <li>Only use unique passwords for every account</li>
                            </ul>
                            <li>Update your username</li>
                            <li>Update your email</li>
                            <ul>
                                <li>Update your email password</li>
                            </ul>
                        </ul>
                        <h3>Indeed very basic as I'll still need to update the back-end with more sophisticated security. Some options are 2FA/MFA, back-up pins, account signup verification, changing user's info only on verification, etc.</h3>
                        <h3>Be informed & stay informed!</h3>
                        <h3><a href="https://www.pcmag.com/how-to/12-simple-things-you-can-do-to-be-more-secure-online">Read more about digital safety here</a></h3>
                        <h3>Thanking you for using the web app!</h3>
                        <hr></hr>
                    </div>
                    <!-- For GMail.com you can't seem to see the images -->
                    <!-- Sites like 10minutemail.com, 10minemail.com, etc. seem to be working okay. Note that Your browser might cache the image. -->
                    <div id="footer-container">
                        <div>
                            <img style="vertical-align:middle" src="http://drive.google.com/uc?export=view&id=1CqeNlDQb3ZF606W4mroWmOIKctH14GuT" alt="github_icon" width="40" height="40">
                            <!-- <img style="vertical-align:middle" src="http://localhost:8000/static/email_images/github_icon.png" alt="github_icon" width="40" height="40"> -->
                            <span>&nbsp;&nbsp;<a href="https://github.com/miserrano7/EventTracking">Event Tracking GitHub Repository</a></span>
                        </div>
                        <hr></hr>
                        <div>
                            <img style="vertical-align:middle" src="http://drive.google.com/uc?export=view&id=1GB8JPCo0KxvSZiXD3NEq3uaAKcgLHVKH" alt="imgur_icon" width="40" height="40">
                            <!-- <img style="vertical-align:middle" src="http://localhost:8000/static/email_images/imgur_icon.png" alt="imgur_icon" width="40" height="40"> -->
                            <span>&nbsp;&nbsp;<a href="https://imgur.com/a/znEcjhc">Imgur Link (images of web app)</a></span>
                        </div>
                        <hr></hr>
                        <div>
                            <img style="vertical-align:middle" src="http://drive.google.com/uc?export=view&id=1G60pa9G3HkbirQzAggUQf0UxUSsaVrIO" alt="github_icon" width="40" height="40">
                            <!-- <img style="vertical-align:middle" src="http://localhost:8000/static/email_images/github_icon2.png" alt="github_icon2" width="40" height="40"> -->
                            <span>&nbsp;&nbsp;<a href="https://github.com/trien-hong">My GitHub</a></span>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </body>
</html>