.profile_link {
    top: 10px;
    right: 10px;
    position: absolute;
}

#map {
    height: 400px;
    width: 100%;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
}

.row {
    border-style: solid;
}