body {
    background-image: url("https://cdn.glitch.global/e93e4f76-4288-4c24-b901-e4ff87d5c753/58bdfe4b-30ca-41a3-86cc-c58f1c76e97f.bg.jpg?v=1649388304049");
    background-size: cover;
    font-size: 15px;
    background-color: #010a01;
   
  }
  .box {
    border-radius: 2rem;
    padding: 0.4em;
    display: flex;
    font-family: "Sacramento", sans-serif;
    font-size: 2rem;
    align-items: center;
    color: yellow;
    text-align: center;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  header{
    top: 20%;
  }
  
  button {
    position-x: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
      rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    
  }
  button:hover {
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
      rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
  }
  .space {
    margin-right: 50px;
    margin-left: 50px;
  }
  .introbox{
    text-align: center;
    padding: 20px;
    position: flex;
  display: inline-block;
    width: 55%;
    background: white;
    opacity: 0.9;
    box-shadow: 12px 12px 0px 0px #aaaaaa;
    font-family: Georgia, serif;
    margin-left: 22.5%;
    margin-right: 22.5%;
  }
  .intro
  {
    font-size: 15px;
  }
  .text
  {
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    position: flex;
    font-family: 'Montserrat', sans-serif;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 
                          8px 8px #ff1f8f,
                          20px 20px #000000;
  }
  blockquote {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    width: 50%;
    text-align: center;
    margin-left: 26%;
    font-weight: bold;
    font-size: 15px;
  }