<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <script type="text/javascript" src="/static/script.js"></script>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <p>{{name}}</p>
        <p>{{eventImageURL}}</p>
        <p>{{startDate}}</p>
        <p>{{genre}}</p>
        <p>{{minPrice}}</p>
        <p>{{maxPrice}}</p>
        <p>{{venue}}</p>
        <p>{{address}}</p>
        <img src="http://openweathermap.org/img/wn/{{weather_icon}}@2x.png", alt="weather icon">
        <p>Temperature: {{temperature_f}}°F/{{temperature_c}}°C</p>
        <p>Low: {{temperature_min_f}}°F/{{temperature_min_c}}°C</p>
        <p>High: {{temperature_max_f}}°F/{{temperature_max_c}}°C</p>
        <div id="map"></div>
        <input type="hidden" name="longitude" id="longitude" value="{{longitude}}" readonly="readonly">
        <input type="hidden" name="latitude" id="latitude" value="{{latitude}}" readonly="readonly">
        <script
            src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAP_API_KEY}}&callback=initMap&libraries=places"
            async
        ></script>
    </body>
</html>