<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="shortcut icon" href="#">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="bgcolor">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/main"></a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/main"><u>Home</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="LinkSpacing" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="LinkSpacing" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" method="POST" action="/reroute">
                    <div id="search1">
                        <input class="form-control" type="text" name="user_input" placeholder="Search events..." size="40">
                    </div>
                    <div id="search1">
                        <button class="s_buttonHome" type="submit" value="Submit">Search</button>
                    </div>
                </form>
            </nav>
            {% if allow == 'True' %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="flash1">
                                <center> <p>{{message}}</p> </center>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="container">
                    <div id="container2">
                        {% for event_row in events|batch(1) %}
                            <div class="row2" id="item2">
                                {% for event in event_row %}
                                    <center>
                                        <br>
                                        <p>{{event[1]}}</p>
                                        <p>{{event[3]}} | {{event[4]}}</p>
                                        <form id="{{event[0]}}" method="POST" action="/add"></form>
                                        <input type="hidden" name="currentPage" value="index" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventId" value="{{event[0]}}" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventName" value="{{event[1]}}" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventDate" value="{{event[3]}}" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventAddress" value="{{event[4]}}" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventImageURL" value="{{event[2]}}" readonly="readonly" form="{{event[0]}}">
                                        <input type="hidden" name="eventPrice" value="{{event[5]}} - {{event[6]}}" readonly="readonly" form="{{event[0]}}">
                                        <form method="POST" action="/event_details">
                                            <input type="hidden" name="eventId" value="{{event[0]}}" readonly="readonly">
                                            <input class="item" type="image" src="{{event[2]}}" alt="Event Picture" style="width:225px;height:126px;">
                                        </form>
                                        <br>
                                        <p>{{event[5]}} - {{event[6]}}</p>
                                        <input class="addHover" type="submit" value="ADD EVENT" form="{{event[0]}}"/>
                                        <br>
                                        <br>
                                    </center>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>    
            {% else %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="flash2">
                                <center> <p>{{message}}</p> </center>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </body>
</html>