<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <a class="profile_link" href="/profile">Profile Page</a>
        <form method="POST" action="/reroute">
            <input type="text" name="user_input" placeholder="Search..." size="50">
            <input type="submit" value="Submit"/>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% for event in events %}
            <p>{{event[1]}}</p>
            <form id="form1" method="POST" action="/add"></form>
            <input type="hidden" name="eventId" value="{{event[0]}}" readonly="readonly" form="form1">
            <input type="hidden" name="currentPage" value="index" readonly="readonly" form="form1">
            <form method="POST" action="/event_details">
                <input type="hidden" name="eventId" value="{{event[0]}}" readonly="readonly">
                <input type="image" src="{{event[2]}}" alt="Event Picture" style="width:250px;height:140px;">
            </form>
            <input type="submit" value="ADD EVENT" form="form1"/>
        {% endfor %}
    </body>
</html>