<!DOCTYPE html>
<html>
    <head>
        <style> 
            body {
                padding-top: 20px;
                text-align: center;
            }
            hr {
                width: 50%;
            }
            .border {
                border-style: solid;
                background-color: #FFC135;
                display: inline-block;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div class=border>
            <h2><u>LOGIN</u></h2>
            <ul id="flashes" class=flashes>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </ul>
            <form method="POST" action="/login">
                <input type="email" name="email" placeholder="Enter email" maxlength="100"/>
                <input type="password" name="password" placeholder="Enter password"/>
                <input type="submit" value="SUBMIT"/>
            </form>
            <p>If you have not already signed up, please click the button blow to signup.</p>
            <form method="GET" action="/signup">
                <input type="submit" value="SIGNUP HERE"/>
            </form>
        </div>
    </body>
</html>