<html>
  <title> Ticket finder
  </title>
  <link rel = "stylesheet" href = "/static/welcome.css">
  <header>
    <span><br></span>
       <h1 class="text">
            EVENT TRACKER
       </h1>
     </header>
       <div class ="introbox">
           <p class = "intro">
            Welcome to Event Tracker, where you can find any concerts or events in your area! Just provide your zip code at signup, and you will be able to explore some fun events. 
         </p>
         <blockquote><br>
           Never forget upcoming events that you're interested in! 
           <br>
           <br>
         </blockquote>
         <br>
         <p style = "text-decoration: underline"> Brought to you by:</p>  
          Michelle Serrano
         <br> Trien Hong
         <br> Nhi Tran
         <br> Chengpeng Wu
         <br> Abdisamed Abdulhakim
       </div>
     <div class = "box">
        <a href="/signup"> <button class= "space" typer="button"> SIGNUP </button> </a>
         </button>
       <p>
        OR  
       </p>
       <div class = "box">
        <a href="/login"> <button class= "space" typer="button"> LOGIN </button> </a>
         </button>
     </div>
   </html>